* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}

.nav_links {
  background-color: #be3143;
  display: flex;
  height: 75px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  padding: 0% 15%;
}

.nav a {
  line-height: 75px;
  text-decoration: none;
  color: white;
}

.nav_links div:hover {
  background-color: blue;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.banner {
  background-color: #2b2c2e;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  color: white;
  font-family: "Raleway", sans-serif;
}

.red_text {
  color: red;
}

.banner_name {
  font-size: 3rem;
}

.projectContainer {
  background-color: #45567d;
  padding: 0% 4%;
}
.projects {
  background-color: #45567d;
  padding: 3% 4%;
}

.proj_title {
  border-bottom: 3px solid white;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}
.box {
  margin-bottom: 20px;
  height: auto;
}

.box img {
  width: 100%;
  height: 260px;
}

.project_name {
  margin-top: -10px;
  background-color: #303840;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer {
  background-color: #303840;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
.work {
  color: white;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

.coffee {
  font-size: 1rem;
}

.footer-btm span {
  padding-right: 15px;
}

.footer-btm span span {
  padding-left: 5px;
}

@media screen and (min-width: 740px) and (max-width: 1000px) {
  .projectContainer {
    justify-content: space-between;
    align-items: center;
    background-color: #45567d;
    display: flex;
    flex-flow: row wrap;
  }
  .box {
    margin-bottom: 30px;
    height: auto;
    width: 47%;
  }

  .nav_links {
    justify-content: flex-end;
    padding: 0% 5%;
  }

  .nav {
    padding-right: 30px;
  }

  .footer {
    background-color: #303840;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }
  .work {
    color: white;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
  }

  .coffee {
    font-size: 1rem;
  }

  .footer-btm span {
    padding-right: 15px;
  }
  .footer-btm span span {
    padding-left: 5px;
  }
}

@media screen and (min-width: 1001px) {
  .projectContainer {
    justify-content: space-between;
    align-items: center;
    background-color: #45567d;
    display: flex;
    flex-flow: row wrap;
  }
  .box {
    margin-bottom: 30px;
    height: auto;
    width: 30%;
  }

  .nav_links {
    justify-content: flex-end;
    padding: 0% 5%;
  }

  .nav {
    padding-right: 30px;
  }

  .footer {
    background-color: #303840;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }
  .work {
    color: white;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
  }

  .coffee {
    font-size: 1rem;
  }

  .footer-btm span {
    padding-right: 15px;
  }
  .footer-btm span span {
    padding-left: 5px;
  }
}
